<app-header></app-header>
<div class="container mt-10 mb-5">

  <main class="row">
    <!-- thông tin sách  -->
    <div class="col-md-9 bg-light">
      <h2 class="text-black h3" style="background: #67DEE6;">Sách thể loại 1 </h2>
      <div class="row  row-cols-2  row-cols-md-3 row-cols-xl-4 ">
        <div class="col mt-1">
          <div class="card text-center">
            <div class="card-body">
              <img class="img-fluid" src="https://tse4.mm.bing.net/th?id=OIP.XSh3Ooa_WZvQaIrRCFecjwHaL2&pid=Api&P=0">
              <p class=" mt-3">
                Naruto là một cậu bé có mơ ước trở thành hokage của làng Konoha,
                được Hokage phong ấn trong người một trong 9 quái vật của thể giới :
                Cửu vĩ Hồ ly.Vì cho cậu là một con quái vật, ko ai dám chơi với cậu!
                Vì muốn được thừa nhận nên rất phá phách.
              </p>
            </div>
            <div class="card-footer">
              <a href="#" routerLink="">Xem chi tiết</a>
            </div>
          </div>
        </div>
        <div class="col mt-1">
          <div class="card text-center">
            <div class="card-body">
              <img class="img-fluid" src="https://tse4.mm.bing.net/th?id=OIP.F2CmS999EyvPwNEBgYcYcADHE4&pid=Api&P=0">
              <p class=" mt-3">
                Khi tốt nghiệp trướng ninja, lần đầu tiên cậu đã được thừa nhận và có một người bạn thân là Sasuke.
                Hai năm sau, Sasuke đã rời bỏ làng lá để đi theo Orochimaru vì muốn đạt được sức mạnh hơn người,
                và dùng sức mạnh đó để giết người anh của mình.
              </p>
            </div>
            <div class="card-footer">
              <a href="#" routerLink="">Xem chi tiết</a>
            </div>
          </div>
        </div>
        <div class="col mt-1">
          <div class="card text-center">
            <div class="card-body">
              <img class="img-fluid" src="https://tse4.mm.bing.net/th?id=OIP.H9j9OSBGmjTLx9fk7Vgx7QHaEo&pid=Api&P=0">
              <p class=" mt-3">

              </p>
            </div>
            <div class="card-footer">
              <a href="#" routerLink="">Xem chi tiết</a>
            </div>
          </div>
        </div>
        <div class="col mt-1">
          <div class="card text-center">
            <div class="card-body">
              <img class="img-fluid" src="https://tse2.mm.bing.net/th?id=OIP.0ZPBKMIfkAbwHgp01OUpNgAAAA&pid=Api&P=0">
              <p class=" mt-3">
                Naruto muốn đem Sasuke trở về, và vì Kakashi ko đủ trình độ nên đã đi theo Jiraiya -
                một trong tam nin truyền thuyết của Konoha - để học tập thêm cách dùng sức mạnh
              </p>
            </div>
            <div class="card-footer">
              <a href="#" routerLink="">Xem chi tiết</a>
            </div>
          </div>
        </div>
        <div class="col mt-1">
          <div class="card text-center">
            <div class="card-body">
              <img class="img-fluid" src="https://tse3.mm.bing.net/th?id=OIP.0w5z8CgJaQqhC2OiGHyFfAHaK-&pid=Api&P=0">
              <p class=" mt-3">
                Sau hai năm trờ về, Naruto đã 16 tuổi và có nhiều thay đổi!
              </p>
            </div>
            <div class="card-footer">
              <a href="#" routerLink="">Xem chi tiết</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- loại sách -->
    <div class="col-md-3 border border-success p-2  border-opacity-10 ">
      <ul class="list-group mt-3">
        <li class="list-group-item py-2">
          <a href=""> Top 1 </a>
        </li>
        <li class="list-group-item py-2">
          <a href=""> Top 2</a>
        </li>
        <li class="list-group-item py-2">
          <a href=""> Top 3</a>
        </li>
      </ul>
    </div>
  </main>

</div>



<app-footer></app-footer>